<div class="row">
  <h1>users</h1>
  <table>
    <tr>
      <th>user</th>
      <th>greeted</th>
    </tr>
    {{#each usersArr}}
      <tr>
        <td>{{this}}</td>
      </tr>
    {{/each}}
  </table>
</div>