/* https://coolors.co/palette/dad7cd-a3b18a-588157-3a5a40-344e41 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  background: #344e41;
  color: #dad7cd;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
body {
  background-color: #a3b18a;
  font-family: "Roboto", sans-serif;
}
article {
  text-align: center;
}
.flex,
.table-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
div.flex {
  margin-top: 5px;
}
.hidden {
  display: none;
}
.error-text,
.db-text {
  font-size: 22px;
  padding: 2px;
}
.error-text {
  color: rgb(205, 9, 9);
}
.db-text {
  color: #dad7cd;
}
button,
.radio-btn {
  cursor: pointer;
}
.greeting {
  border: 1px solid #dad7cd;
  padding-block: 15px;
  margin-bottom: 20px;
  font-size: 30px;
  letter-spacing: 0.9px;
}
.text-input {
  padding: 10px 10px;
  margin-right: 5px;
}
button {
  background: none;
  padding: 10px 25px;
  border-radius: 4px;
}
.greet-me-btn,
.get-users-btn {
  border: none;
  background-color: #588157;
  color: #fff;
}
.get-users-btn {
  margin-left: 20px;
}
a {
  text-decoration: none;
  color: #fff;
}
.counter-text {
  font-size: 40px;
  margin-block: 10px;
  margin-left: 10px;
}
.radio-btns {
  margin-top: 25px;
}
.radio-btn {
  margin-left: 14px;
}
.reset-btn {
  border: 1px solid #dad7cd;
  background-color: #dad7cd;
}
.output-str {
  font-size: 20px;
  margin-bottom: 14px;
  font-weight: 500;
}
.column-heading {
  text-align: left;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding-block-start: 20px;
}
.user-msg {
  color: #dad7cd;
  font-size: 18px;
}
.column-heading td a {
  font-size: 200px;
}
.user-navi {
  margin-left: 10px;
}
.nav,
.primary-heading-greetings {
  text-align: center;
}

@media (min-width: 788px) {
  .greeting {
    padding-block: 20px;
    font-size: 40px;
    margin-bottom: 30px;
  }
  .text-input {
    margin-right: 10px;
  }
  .counter-text {
    font-size: 50px;
  }
  label,
  .greet-me-btn,
  .reset-btn,
  .get-users-btn {
    font-size: 16px;
    font-weight: 400;
  }
}
